services:
  gatus:
    image: ghcr.io/twin/gatus:v5.26.0
    container_name: gatus
    environment:
      - TZ={{ timezone }}
    labels:
      traefik.enable: true
      traefik.http.routers.gatus.rule: Host(`{{ traefik.hosts.gatus }}`)
      traefik.http.routers.gatus.entrypoints: websecure
      traefik.http.routers.gatus.middlewares: chain-no-auth-without-rate-limit@file
      # TLS stuff
      traefik.http.routers.gatus.tls: true
      traefik.http.routers.gatus.tls.certresolver: letsencrypt
      traefik.http.services.gatus.loadbalancer.server.port: 8080
      traefik.docker.network: web
    networks:
      - gatus
      - web
    ports:
      - "8090:8080"
    restart: unless-stopped
    volumes:
      - ./data/config:/config:ro
      - ./data/db:/data

networks:
  web:
    external: true
  gatus:
