# Managed by Ansible (workstation_hardening)
Defaults use_pty
Defaults timestamp_timeout={{ workstation_hardening_sudo_timestamp_timeout_minutes }}
Defaults passwd_timeout={{ workstation_hardening_sudo_passwd_timeout_minutes }}
